@CHARSET "ISO-8859-1";
body {
	font-family: "Helvetica Neue", HelveticaNeue, "Helvetica-Neue",
		Helvetica, "BBAlpha Sans", sans-serif;
}

ul{
    list-style-type: none;
}

div#mui-viewport {
	top: 0px;
	bottom: 44px;
    background-color: #EDEDED;
}

div.mui-page-header {
	background-color: #e04a59;
    height: 3em;
}
div.mui-page-header .mui-leftarrow {
    height: 37px;
    padding-left: 30px;
    padding-top: 12px;
    position: relative;
    margin: 0px auto;
    color: #EDEDED;
    background-image: url('images/leftarrow.png');
    background-repeat: no-repeat;
    background-position: 10px 10.5px;
}

/* Principal Title */

div#mui-viewport-page1 div.mui-page-header {
	background-color: #e04a59;
	background-image: url('../images/NoLinesLogoWhite.png');
	background-position: center;
	background-repeat: no-repeat, repeat-x;
	background-size: 121px 28px;
}

.default-button {
    border: medium none;
    border-radius: 6px 6px 6px 6px;
    text-decoration: none;
    transition: all 0.25s linear 0s;
    font-size: 1.35em;
    line-height: 1.35emx;
    padding: 15px 20px 16px;
    background-color: #FFFFFF;
}
.main-list{
    padding-left: 0px;
}
.main-list .default-button{
    width:100%;
}
.resized-image{
    width:100%;
}
/* Tabbar */
div.mui-tabbar {
    width: 100%;
    height: 3em;
    position: absolute;
    bottom: 0px;
    background-color: #ecf0f1;
    z-index: 10;
}

div.mui-tabbar ul.mui-tabbar-list {
    list-style: none;
    padding: 0px;
    margin: auto;
}

div.mui-tabbar ul.mui-tabbar-list li.muy-tabbar-button {
    height: 2.75em;
    padding: 0px;
    margin: 0px;
    /*border: #3498db solid 1px;*/
    float: left;
}
/*Botones del tabbar*/
div.mui-tabbar ul.mui-tabbar-list {
    max-width: 480px;
}

div.mui-tabbar ul.mui-tabbar-list li {
    width: 25%;
    background-repeat: no-repeat;
    background-position: center 5px;
    text-align: center;
    margin: auto;

    /*inner width*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.mui-tabbar ul.mui-tabbar-list li:HOVER {
    /*background-position: center -40px;*/
    background-color: #CDD8DA;
}

div.mui-tabbar ul.mui-tabbar-list li:FIRST-CHILD {
    background-image: url('../images/home.png');
}

div.mui-tabbar ul.mui-tabbar-list li:nth-child(2) {
    background-image: url('../images/agenda.png');
}

div.mui-tabbar ul.mui-tabbar-list li:nth-child(3) {
    background-image: url('../images/tramite.png');
}

div.mui-tabbar ul.mui-tabbar-list li:nth-child(4) {
    background-image: url('../images/contacto.png');
}

div.mui-tabbar ul.mui-tabbar-list li span {
    font-size: 0.75em;
    position: relative;
    top: 28px;
    color: #0B6CFE;
}

/* Restaurant info buttons*/
#restaurant-list{
	padding: 0px;
}
.restaurant-selector{
    margin-bottom: 0.5em;
}
.restaurant-selector .default-button{
    text-align: left;
    width: 100%;
    font-size: 1em;
    height: 5em;
}
.restaurant-selector .restaurant-title{
	position: relative;
    left: 60px;
    bottom: 50px;
}
.restaurant-selector .restaurant-info{
    position: relative;
    left: 60px;
    bottom: 50px;
}

